.app-container h1 {
  text-align: center;
  background-color: #dfdfdf;
}
.filter-container{
  padding: 30px;
}
.filter{
  display: flex;
  justify-content: space-around;
}

.filter div{
  flex: 0.3 1;
}
.filter .submit{
  position: relative;
}
.filter .submit div{
  position: absolute;
    bottom: 5px;
    left: 70px;
}
.dealers{
  margin-top: 20px;
  padding: 30px;
}
.card-details-container{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card{
  width: 28%;
  margin: 30px;
}
.card img{
  height: 150px;
  padding: 12px;
}
.card .card-body{
  border-top: 1px solid lightgray;
}